
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
h1
{text-align: center;
    text-transform: uppercase;
    font-family:'Press Start 2P', cursive;
}
h1
{background-color: black;
    color:azure ;
border-radius: 10px;}
em
{color: #168314d6;}
body{background: url(images/BG.jpg) no-repeat;
    background-size: cover;}
    h2{
        background: linear-gradient(rgb(13, 255, 243), white);
        border-radius: 20px 0 20px 0;
    }
    p{
        font-size: x-large;
        color:black;
        text-shadow:3px 3px white;
        background: rgba(255, 255, 255, 0.5);
       
    }
    ol{
        font-size: x-large;
        color:black;
        text-shadow:3px 3px white;
        background: rgba(255, 255, 255, 0.5);
    }